## Day 19
### Date: 17 May 2019, Friday

## Problem 1:
### Statement :
Define a function to read from CSV file using Pandas library

In [167]:
import pandas as pd

def readCSV(filename):
    df=pd.read_csv(filename)
    #for row in df.values:
      #  print('GEOID:',row[0],'State:',row[1])
    #print(df.head(1))

    return df

print(readCSV('DataFiles/Income.csv'))

       GEOID     State     2005     2006     2007     2008     2009     2010  \
0  04000US01   Alabama  37150.0  37952.0  42212.0  44476.0  39980.0  40933.0
1  04000US02    Alaska  55891.0  56418.0  62993.0  63989.0  61604.0  57848.0
2  04000US04   Arizona  45245.0  46657.0  47215.0  46914.0  45739.0  46896.0
3  04000US05  Arkansas  36658.0  37057.0  40795.0  39586.0  36538.0  38587.0
4         fj       NaN      NaN      NaN      NaN      NaN      NaN      NaN

      2011     2012     2013
0  42590.0  43464.0  41381.0
1  57431.0  63648.0  61137.0
2  48621.0  47044.0  50602.0
3  41302.0  39018.0  39919.0
4      NaN      NaN      NaN

## Problem 2: 
## Statement :
Define a function to add a new data to .csv file.

In [156]:
def AddRowCSV(filename,rd):
    df=pd.read_csv('DataFiles/Income.csv')
    df.loc[len(df)]=rd
    df.to_csv('DataFiles/Income.csv',index=False)
    return df
data=['04000US09','Florida',123,324324,655,4332,231,34,213,32,34]
AddRowCSV('DataFiles/Income.csv',data)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US09,State,123,324324,655,4332,231,34,213,32,34

## Problem 3: 
## Statement :
Define a function to add a new data to .csv file.

In [142]:
def updateRowCSV(filename,rowindex,rowdata):
    df=readCSV(filename)
    df.loc[rowindex]=rowdata
    df.to_csv(filename,index=False)
    return df

#df=df.drop('Unnamed:0',axis=1)
#df.to_csv('DataFiles/Income.csv',index=False)
data=['04000US12','Florida',123,3324,655,4332,231,34,213,382,384]
updateRowCSV('DataFiles/Income.csv',5,data)
#readCSV('DataFiles/Income.csv')

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US12,State,123,3324,655,4332,231,34,213,382,384

## Problem 4:
## Statement:
Delete a row from .csv file

In [169]:
def deleteRowCSV(filename,rowindex):
    df=readCSV(filename)
    df=df.drop(rowindex)
    df.to_csv(filename,index=False)
    return df

deleteRowCSV('DataFiles/Income.csv',4)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150.0,37952.0,42212.0,44476.0,39980.0,40933.0,42590.0,43464.0,41381.0
1,04000US02,Alaska,55891.0,56418.0,62993.0,63989.0,61604.0,57848.0,57431.0,63648.0,61137.0
2,04000US04,Arizona,45245.0,46657.0,47215.0,46914.0,45739.0,46896.0,48621.0,47044.0,50602.0
3,04000US05,Arkansas,36658.0,37057.0,40795.0,39586.0,36538.0,38587.0,41302.0,39018.0,39919.0

## Problem 5:
## Statement:
Generate marks of 2000  students in a .csv file with columns ,RollNo,Marks

2210410001
...
2210412000

In [173]:
import pandas as pd
def Sheet(filename,nr,rollnumber):
    df=pd.Sheet(filename)
    df.loc[nr]=rollnumber
    df.to_csv(filename,index=False)
    return df

data=['student','rollnumber']
updateRowCSV('DataFiles/StudentsData.csv',1,data)
#readCSV('DataFiles/Income.csv')

FileNotFoundError: [Errno 2] File b'DataFiles/StudentsData.csv' does not exist: b'DataFiles/StudentsData.csv'

In [176]:
import pandas as pd
for i in range(3):
    data = pd.DataFrame(np.random.randn(10, 4))
    data.to_csv('file_{}.csv'.format(i))

files = ['file_0.csv', 'file_1.csv', 'file_2.csv']

result = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

NameError: name 'np' is not defined